body{
    width:100%;
    height:100%;
    background: url(https://api.77sec.cn/ACG/api.php) no-repeat;
    -moz-background-size: cover;    /*背景图片拉伸以铺满全屏*/
    -ms-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}